In [17]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import confusion_matrix,roc_curve,auc,accuracy_score

pd.options.display.html.table_schema=True
pd.options.display.max_rows=None
pd.options.display.max_columns=None

In [18]:
data=pd.read_excel('длямашинного.xlsx')
X = np.array(data.loc[:,data.columns != 'Событие'])
y = np.array(data['Событие'])

In [34]:
rand_forest=RandomForestClassifier(random_state=0, n_estimators=50, max_depth=5).fit(X, y)

In [35]:
print(rand_forest.score(X,y))
y_pred=rand_forest.predict(X)
pd.crosstab(y,y_pred)

1.0

col_0  0  1  2  3  4  5  6
row_0
0      4  0  0  0  0  0  0
1      0  3  0  0  0  0  0
2      0  0  4  0  0  0  0
3      0  0  0  9  0  0  0
4      0  0  0  0  2  0  0
5      0  0  0  0  0  1  0
6      0  0  0  0  0  0  6

In [36]:
import pickle

In [37]:
filename = 'finalized_model.sav'
pickle.dump(rand_forest, open(filename, 'wb'))